//
// TestsuiteAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



public class TestsuiteAPI: APIBase {
    /**
     get all test suite for project
     
     - parameter projectID: (path) project id 
     - parameter completion: completion handler to receive the data and the error objects
     */
    public class func testSuitesForProject(projectID projectID: String, completion: ((data: Testsuite?, error: ErrorType?) -> Void)) {
        testSuitesForProjectWithRequestBuilder(projectID: projectID).execute { (response, error) -> Void in
            completion(data: response?.body, error: error);
        }
    }


    /**
     get all test suite for project
     - GET /v3/testsuites
     - return all test suite for given project
     - examples: [{contentType=application/json, example={
  "updatedBy" : "updatedBy",
  "createdBy" : "createdBy",
  "name" : "name",
  "project" : "project",
  "_id" : "_id",
  "desc" : "desc"
}}]
     
     - parameter projectID: (path) project id 

     - returns: RequestBuilder<Testsuite> 
     */
    public class func testSuitesForProjectWithRequestBuilder(projectID projectID: String) -> RequestBuilder<Testsuite> {
        var path = "/v3/testsuites"
        path = path.stringByReplacingOccurrencesOfString("{projectID}", withString: "\(projectID)", options: .LiteralSearch, range: nil)
        let URLString = SwaggerClientAPI.basePath + path

        let nillableParameters: [String:AnyObject?] = [:]
 
        let parameters = APIHelper.rejectNil(nillableParameters)
 
        let convertedParameters = APIHelper.convertBoolToString(parameters)
 
        let requestBuilder: RequestBuilder<Testsuite>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: URLString, parameters: convertedParameters, isBody: true)
    }

}
