swagger: 2.0
info:
  version: 1.0.0
  title: RobusTest Api
  description: RobusTest Apis
  termsOfService: http://robustest.com/terms/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
host: robustest.com
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /admin/v3/bug/config/jira:
    post:
      summary: create a jira config
      description: create a jira config
      operationId: jiraConfig
      parameters:
        - description: jira config payload
        - name: body
          in: body
          required: true
          schema:
              $ref: '#/definitions/JiraConfigPayload'
      responses:
        '200':    # status code
          description: A JSON array of jira project names
          schema: 
            type: array
            items: 
              type: string
    get:
      summary : get all jira config 
      description: get all jira config
      operationId: jira
      responses:
        '200':    # status code
          description: get list of jira config
          schema: 
            type: array
            items: 
              type : object
              $ref: '#/definitions/JiraConfig'

  /admin/v3/bug/config/jira/{jira_config_id}:
    put:
      summary: update a jira config
      description: update a jira config
      operationId: jiraConfig
      parameters:
        - description: jira config payload
        - name: payload
          in: body
          required: true
          schema:
              $ref: '#/definitions/JiraConfigPayload'
      responses:
        '200':    # status code
          description: jira config
          schema: 
            $ref: '#/definitions/JiraConfig'
    patch:
      summary: update all projects for a jira config
      description: update all projects for a jira config
      operationId: jiraConfig
      responses:
        '200':    # status code
          description: A JSON array of jira project names
          schema: 
            type: array
            items: 
              type: string
  /admin/v3/bug/config/jira/projects:
    get:
      summary : get all jira project 
      description: get all jira project
      operationId: jira
      responses:
        '200':    # status code
          description: get list of jira project
          schema: 
            type: array
            items: 
              type : object
              $ref: '#/definitions/JiraProject'
  /admin/v3/bug/config/jira/projects/{jira_project_id}:
    get:
      summary : get a jira project  details
      description: get a jira project details
      operationId: jira
      responses:
        '200':    # status code
          description: get a jira project details
          schema: 
            type: object
            $ref: '#/definitions/JiraProject'
  /v3/bug/jira/{jira_project_id}/create:
    post:
      summary: create a jira issue
      description: create a jira issue
      operationId: jiraIssue
      parameters:
        - description: jira issue payload
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/jiraIssuePayload'
      responses:
        '200':    # status code
          description: A JSON array of jira project names
          schema: 
            type: object
            $ref: '#/definitions/jiraIssueResponse'
  /v3/project/{project_id}:
    put:
      summary: Update Project 
      description: Update Project from user interface
      operationId: project
      parameters:
        - description: project update payload
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/projectUpdatePayload'
      responses:
        '200':    # status code
          description: A JSON array of jira project names
          schema: 
            type: object
            $ref: '#/definitions/project'
definitions:
  JiraConfig:
    type: object
    properties: 
      _id: 
        type: string
      source: 
        type: string
      type: 
        type: string
      url: 
        type: string
      name: 
        type: string
      user: 
        type: string
      password: 
        type: string
      createdBy: 
        type: string
      updated: 
        type: string
      created: 
        type: string

  JiraConfigPayload:
    type : object
    required: 
      - url
      - name
      - user
      - password
    properties: 
      url: 
        type: string
      name: 
        type: string
      user: 
        type: string
      password: 
        type: string
  JiraProject:
    type: object
    properties: 
      _id: 
        type: string
      source: 
        type: string
      key: 
        type: string
      id: 
        type: string
      name: 
        type: string
      desc: 
        type: string
      users: 
        type: array
        items: 
          type: object
          properties: 
            key: 
              type: string
            name: 
              type: string
            email: 
              type: string
            avatarUrl: 
              type: string
            displayName: 
              type: string
      type: 
        type: string
      component: 
        type: array
        items: 
          type: object
          properties: 
            id: 
              type: string
            name: 
              type: string
      updated: 
        type: string
      created: 
        type: string
  jiraIssueResponse:
    type: object
    properties: 
      id: 
        type: string
      self: 
        type: string
      key: 
        type: string
  jiraIssuePayload:
    type: object
    required: 
      - projectKey
      - assingeeName
      - assingeeKey
      - reporterName
      - reporterKey
      - description
      - summary
      - type
      - attachements
    properties: 
      projectKey: 
        type: string
      assingeeName: 
        type: string
      assingeeKey: 
        type: string
      reporterName: 
        type: string
      reporterKey: 
        type: string
      description: 
        type: string
      summary: 
        type: string
      type: 
        type: string
      attachements: 
        type: array
        items: 
          type: object
          properties: 
            type: 
              type: string
              description: valid type ['text', 'png', 'jpeg']
            name: 
              type: string
            data: 
              type: string

  projectUpdatePayload:
    type: object
    required: 
      - active
      - bugProject
      - users
      - admin
    properties:
      active: 
        type: boolean
      bugProject:
        type: string
      users:
        type: array
        items: 
          type: string
      admin:
        type: array
        items: 
          type: string
  project:
    type: object
    properties: 
      _id: 
        type: string
      name: 
        type: string
      org: 
        type: string
      os: 
        type: string
      icon64: 
        type: string
      type: 
        type: string
      url: 
        type: string
      bugProject: 
        type: string
      admin: 
        type: array
        items: 
          type: string
      users: 
        type: array
        items: 
          type: string
      test_c: 
        type: number
      active: 
        type: boolean
      is_universal: 
        type: boolean
      last: 
        type: string
      created: 
        type: string
      updated: 
        type: string
      update_by: 
        type: string
      created_by: 
        type: string



