{
  "swagger" : "2.0",
  "info" : {
    "description" : "RobusTest Hub Api\n[http://mobile.robustest.com:8085\n",
    "version" : "1.0.0",
    "title" : "RobusTest Hub"
  },
  "host" : "mobile.robustest.com:8085",
  "tags" : [ {
    "name" : "hub",
    "description" : "Everything about to run existing appium test cases"
  } ],
  "schemes" : [ "http", "https" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/devices" : {
      "get" : {
        "tags" : [ "hub" ],
        "summary" : "list all attached devices to RobusTest",
        "operationId" : "devices list",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HubDevices"
            }
          }
        }
      }
    },
    "/device" : {
      "put" : {
        "tags" : [ "hub" ],
        "summary" : "get free device based on given parameters",
        "operationId" : "get free device",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "device",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/device"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "hub" ],
        "summary" : "free device",
        "operationId" : "free device",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "device",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/device_1"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/device/reverse" : {
      "put" : {
        "tags" : [ "hub" ],
        "summary" : "reverse a device",
        "operationId" : "reverse device",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "device",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/device_2"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "hub" ],
        "summary" : "unrevrse the device",
        "operationId" : "unreverse device",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "device",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/device_3"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Device"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/device/shell" : {
      "post" : {
        "tags" : [ "hub" ],
        "summary" : "run adb shell command",
        "operationId" : "device shell",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "device",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/device_4"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/device/command" : {
      "post" : {
        "tags" : [ "hub" ],
        "summary" : "run adb  command",
        "operationId" : "adb command",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "device",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/device_5"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/inline_response_200_1"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "HubDevices" : {
      "type" : "object"
    },
    "Device" : {
      "type" : "object",
      "properties" : {
        "_id" : {
          "type" : "string",
          "description" : "Device ID"
        },
        "name" : {
          "type" : "string",
          "description" : "Device Name"
        },
        "version" : {
          "type" : "string",
          "description" : "device os version"
        },
        "os" : {
          "type" : "string",
          "description" : "device os Android/iOS"
        },
        "serial" : {
          "type" : "string",
          "description" : "Device serial, in case of android adb id and in case of iOS device serial"
        },
        "session" : {
          "type" : "string",
          "description" : "current test session id"
        },
        "reverseKey" : {
          "type" : "string",
          "description" : "reverse key"
        }
      }
    },
    "HubSession" : {
      "type" : "object",
      "properties" : {
        "userName" : {
          "type" : "string"
        },
        "projectName" : {
          "type" : "string"
        },
        "userEmail" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "appName" : {
          "type" : "string"
        }
      }
    },
    "Error" : {
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "msg" : {
          "type" : "string"
        },
        "fields" : {
          "type" : "string"
        }
      }
    },
    "device" : {
      "type" : "object",
      "properties" : {
        "device" : {
          "type" : "string",
          "description" : "device id"
        },
        "deviceName" : {
          "type" : "string"
        },
        "platformVersion" : {
          "type" : "string"
        },
        "reverseKey" : {
          "type" : "string"
        }
      }
    },
    "device_1" : {
      "type" : "object",
      "required" : [ "device" ],
      "properties" : {
        "device" : {
          "type" : "string",
          "description" : "device id"
        }
      }
    },
    "device_2" : {
      "type" : "object",
      "required" : [ "device" ],
      "properties" : {
        "device" : {
          "type" : "string",
          "description" : "device id"
        }
      }
    },
    "device_3" : {
      "type" : "object",
      "required" : [ "device" ],
      "properties" : {
        "device" : {
          "type" : "string",
          "description" : "device id"
        }
      }
    },
    "device_4" : {
      "type" : "object",
      "required" : [ "command", "device" ],
      "properties" : {
        "device" : {
          "type" : "string"
        },
        "command" : {
          "type" : "string"
        }
      }
    },
    "inline_response_200" : {
      "properties" : {
        "status" : {
          "type" : "boolean"
        },
        "msg" : {
          "type" : "string",
          "description" : "raw shell command output"
        }
      }
    },
    "device_5" : {
      "type" : "object",
      "required" : [ "command", "device" ],
      "properties" : {
        "device" : {
          "type" : "string"
        },
        "command" : {
          "type" : "string"
        }
      }
    },
    "inline_response_200_1" : {
      "properties" : {
        "status" : {
          "type" : "boolean"
        },
        "msg" : {
          "type" : "string",
          "description" : "raw adb command output"
        }
      }
    }
  }
}