{"swagger":"2.0","info":{"description":"RobusTest Hub Api\n[http://mobile.robustest.com:8085\n","version":"1.0.0","title":"RobusTest Hub"},"tags":[{"name":"hub","description":"Everything about to run existing appium test cases"}],"host":"mobile.robustest.com:8085","schemes":["http","https"],"produces":["application/json"],"paths":{"/devices":{"get":{"tags":["hub"],"summary":"list all attached devices to RobusTest","operationId":"devices","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/HubDevices"}}}}},"/device":{"put":{"tags":["hub"],"summary":"get free device based on given parameters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"device","schema":{"type":"object","properties":{"device":{"type":"string","description":"device id"},"deviceName":{"type":"string"},"platformVersion":{"type":"string"},"reverseKey":{"type":"string"}}}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Device"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}},"delete":{"tags":["hub"],"summary":"free device","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"device","schema":{"type":"object","required":["device"],"properties":{"device":{"type":"string","description":"device id"}}}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Device"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/device/reverse":{"put":{"tags":["hub"],"summary":"reverse a device","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"device","schema":{"type":"object","required":["device"],"properties":{"device":{"type":"string","description":"device id"}}}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Device"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}},"delete":{"tags":["hub"],"summary":"unrevrse the device","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"device","schema":{"type":"object","required":["device"],"properties":{"device":{"type":"string","description":"device id"}}}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Device"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/device/shell":{"post":{"tags":["hub"],"summary":"run adb shell command","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"device","schema":{"type":"object","required":["device","command"],"properties":{"device":{"type":"string"},"command":{"type":"string"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"status":{"type":"boolean"},"msg":{"type":"string","description":"raw shell command output"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/device/command":{"post":{"tags":["hub"],"summary":"run adb  command","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"device","schema":{"type":"object","required":["device","command"],"properties":{"device":{"type":"string"},"command":{"type":"string"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"status":{"type":"boolean"},"msg":{"type":"string","description":"raw adb command output"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}}},"definitions":{"HubDevices":{"type":"object","properties":{"available":{"items":{"$ref":"#/definitions/Device"}},"busy":{"items":{"$ref":"#/definitions/Device"}},"offline":{"items":{"$ref":"#/definitions/Device"}}}},"Device":{"type":"object","properties":{"_id":{"type":"string","description":"Device ID"},"name":{"type":"string","description":"Device Name"},"version":{"type":"string","description":"device os version"},"os":{"type":"string","description":"device os Android/iOS"},"serial":{"type":"string","description":"Device serial, in case of android adb id and in case of iOS device serial"},"session":{"type":"string","description":"current test session id"},"reverseKey":{"type":"string","description":"reverse key"}}},"HubSession":{"type":"object","properties":{"userName":{"type":"string"},"projectName":{"type":"string"},"userEmail":{"type":"string"},"type":{"type":"string"},"appName":{"type":"string"}}},"Error":{"properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"},"fields":{"type":"string"}}}}}