/* 
 * 
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using RestSharp;
using IO.Swagger.Client;
using IO.Swagger.Model;

namespace IO.Swagger.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ITestsuiteApi : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// get all test suite for project
        /// </summary>
        /// <remarks>
        /// return all test suite for given project
        /// </remarks>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>Testsuite</returns>
        Testsuite TestSuitesForProject (string projectID);

        /// <summary>
        /// get all test suite for project
        /// </summary>
        /// <remarks>
        /// return all test suite for given project
        /// </remarks>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>ApiResponse of Testsuite</returns>
        ApiResponse<Testsuite> TestSuitesForProjectWithHttpInfo (string projectID);
        #endregion Synchronous Operations
        #region Asynchronous Operations
        /// <summary>
        /// get all test suite for project
        /// </summary>
        /// <remarks>
        /// return all test suite for given project
        /// </remarks>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>Task of Testsuite</returns>
        System.Threading.Tasks.Task<Testsuite> TestSuitesForProjectAsync (string projectID);

        /// <summary>
        /// get all test suite for project
        /// </summary>
        /// <remarks>
        /// return all test suite for given project
        /// </remarks>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>Task of ApiResponse (Testsuite)</returns>
        System.Threading.Tasks.Task<ApiResponse<Testsuite>> TestSuitesForProjectAsyncWithHttpInfo (string projectID);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class TestsuiteApi : ITestsuiteApi
    {
        private IO.Swagger.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="TestsuiteApi"/> class.
        /// </summary>
        /// <returns></returns>
        public TestsuiteApi(String basePath)
        {
            this.Configuration = new Configuration { BasePath = basePath };

            ExceptionFactory = IO.Swagger.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="TestsuiteApi"/> class
        /// using Configuration object
        /// </summary>
        /// <param name="configuration">An instance of Configuration</param>
        /// <returns></returns>
        public TestsuiteApi(Configuration configuration = null)
        {
            if (configuration == null) // use the default one in Configuration
                this.Configuration = Configuration.Default;
            else
                this.Configuration = configuration;

            ExceptionFactory = IO.Swagger.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public String GetBasePath()
        {
            return this.Configuration.ApiClient.RestClient.BaseUrl.ToString();
        }

        /// <summary>
        /// Sets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        [Obsolete("SetBasePath is deprecated, please do 'Configuration.ApiClient = new ApiClient(\"http://new-path\")' instead.")]
        public void SetBasePath(String basePath)
        {
            // do nothing
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public Configuration Configuration {get; set;}

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public IO.Swagger.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Gets the default header.
        /// </summary>
        /// <returns>Dictionary of HTTP header</returns>
        [Obsolete("DefaultHeader is deprecated, please use Configuration.DefaultHeader instead.")]
        public IDictionary<String, String> DefaultHeader()
        {
            return new ReadOnlyDictionary<string, string>(this.Configuration.DefaultHeader);
        }

        /// <summary>
        /// Add default header.
        /// </summary>
        /// <param name="key">Header field name.</param>
        /// <param name="value">Header field value.</param>
        /// <returns></returns>
        [Obsolete("AddDefaultHeader is deprecated, please use Configuration.AddDefaultHeader instead.")]
        public void AddDefaultHeader(string key, string value)
        {
            this.Configuration.AddDefaultHeader(key, value);
        }

        /// <summary>
        /// get all test suite for project return all test suite for given project
        /// </summary>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>Testsuite</returns>
        public Testsuite TestSuitesForProject (string projectID)
        {
             ApiResponse<Testsuite> localVarResponse = TestSuitesForProjectWithHttpInfo(projectID);
             return localVarResponse.Data;
        }

        /// <summary>
        /// get all test suite for project return all test suite for given project
        /// </summary>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>ApiResponse of Testsuite</returns>
        public ApiResponse< Testsuite > TestSuitesForProjectWithHttpInfo (string projectID)
        {
            // verify the required parameter 'projectID' is set
            if (projectID == null)
                throw new ApiException(400, "Missing required parameter 'projectID' when calling TestsuiteApi->TestSuitesForProject");

            var localVarPath = "/v3/testsuites";
            var localVarPathParams = new Dictionary<String, String>();
            var localVarQueryParams = new List<KeyValuePair<String, String>>();
            var localVarHeaderParams = new Dictionary<String, String>(Configuration.DefaultHeader);
            var localVarFormParams = new Dictionary<String, String>();
            var localVarFileParams = new Dictionary<String, FileParameter>();
            Object localVarPostBody = null;

            // to determine the Content-Type header
            String[] localVarHttpContentTypes = new String[] {
            };
            String localVarHttpContentType = Configuration.ApiClient.SelectHeaderContentType(localVarHttpContentTypes);

            // to determine the Accept header
            String[] localVarHttpHeaderAccepts = new String[] {
                "application/json"
            };
            String localVarHttpHeaderAccept = Configuration.ApiClient.SelectHeaderAccept(localVarHttpHeaderAccepts);
            if (localVarHttpHeaderAccept != null)
                localVarHeaderParams.Add("Accept", localVarHttpHeaderAccept);

            if (projectID != null) localVarPathParams.Add("projectID", Configuration.ApiClient.ParameterToString(projectID)); // path parameter


            // make the HTTP request
            IRestResponse localVarResponse = (IRestResponse) Configuration.ApiClient.CallApi(localVarPath,
                Method.GET, localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarFileParams,
                localVarPathParams, localVarHttpContentType);

            int localVarStatusCode = (int) localVarResponse.StatusCode;

            if (ExceptionFactory != null)
            {
                Exception exception = ExceptionFactory("TestSuitesForProject", localVarResponse);
                if (exception != null) throw exception;
            }

            return new ApiResponse<Testsuite>(localVarStatusCode,
                localVarResponse.Headers.ToDictionary(x => x.Name, x => x.Value.ToString()),
                (Testsuite) Configuration.ApiClient.Deserialize(localVarResponse, typeof(Testsuite)));
        }

        /// <summary>
        /// get all test suite for project return all test suite for given project
        /// </summary>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>Task of Testsuite</returns>
        public async System.Threading.Tasks.Task<Testsuite> TestSuitesForProjectAsync (string projectID)
        {
             ApiResponse<Testsuite> localVarResponse = await TestSuitesForProjectAsyncWithHttpInfo(projectID);
             return localVarResponse.Data;

        }

        /// <summary>
        /// get all test suite for project return all test suite for given project
        /// </summary>
        /// <exception cref="IO.Swagger.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectID">project id</param>
        /// <returns>Task of ApiResponse (Testsuite)</returns>
        public async System.Threading.Tasks.Task<ApiResponse<Testsuite>> TestSuitesForProjectAsyncWithHttpInfo (string projectID)
        {
            // verify the required parameter 'projectID' is set
            if (projectID == null)
                throw new ApiException(400, "Missing required parameter 'projectID' when calling TestsuiteApi->TestSuitesForProject");

            var localVarPath = "/v3/testsuites";
            var localVarPathParams = new Dictionary<String, String>();
            var localVarQueryParams = new List<KeyValuePair<String, String>>();
            var localVarHeaderParams = new Dictionary<String, String>(Configuration.DefaultHeader);
            var localVarFormParams = new Dictionary<String, String>();
            var localVarFileParams = new Dictionary<String, FileParameter>();
            Object localVarPostBody = null;

            // to determine the Content-Type header
            String[] localVarHttpContentTypes = new String[] {
            };
            String localVarHttpContentType = Configuration.ApiClient.SelectHeaderContentType(localVarHttpContentTypes);

            // to determine the Accept header
            String[] localVarHttpHeaderAccepts = new String[] {
                "application/json"
            };
            String localVarHttpHeaderAccept = Configuration.ApiClient.SelectHeaderAccept(localVarHttpHeaderAccepts);
            if (localVarHttpHeaderAccept != null)
                localVarHeaderParams.Add("Accept", localVarHttpHeaderAccept);

            if (projectID != null) localVarPathParams.Add("projectID", Configuration.ApiClient.ParameterToString(projectID)); // path parameter


            // make the HTTP request
            IRestResponse localVarResponse = (IRestResponse) await Configuration.ApiClient.CallApiAsync(localVarPath,
                Method.GET, localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarFileParams,
                localVarPathParams, localVarHttpContentType);

            int localVarStatusCode = (int) localVarResponse.StatusCode;

            if (ExceptionFactory != null)
            {
                Exception exception = ExceptionFactory("TestSuitesForProject", localVarResponse);
                if (exception != null) throw exception;
            }

            return new ApiResponse<Testsuite>(localVarStatusCode,
                localVarResponse.Headers.ToDictionary(x => x.Name, x => x.Value.ToString()),
                (Testsuite) Configuration.ApiClient.Deserialize(localVarResponse, typeof(Testsuite)));
        }

    }
}
